@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@700&display=swap");

body {
	height: 100%;
}

#wrapper {
	box-sizing: border-box;
}

#wrapper #main-content-wrapper {
	background-color: #f8f9fc;
	width: 100%;
	overflow-x: hidden;
}

#sidebarMenu {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	transition: all 0.5s ease-in;
}

.sidebar {
	width: 6.5rem;
	min-height: 100vh;
}

div#sidebar-content-wrapper.sidebar-hidden .sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: 1;
	align-items: center;
	margin-left: -104px;
}

.sidebar .sidebar-brand {
	font-family: "Montserrat", sans-serif; /* your font family here! */
	font-weight: bold;
	height: 3.5rem;
	font-size: 1rem;
	font-weight: 800;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	z-index: 1;
}

.sidebar a {
	color: #343a40 !important;
	padding: 0;
}

.sidebar-dark hr.sidebar-divider {
	border-top: 1px #343a40;
}

.sidebar hr.sidebar-divider {
	margin: 0 1rem 1rem;
}

.sidebar .sidebar-brand span {
	display: none;
}

.navbar-dark .sidebar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.1);
}

.sidebar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.sidebar-hidden .fa-angle-double-left::before {
	content: "\f101"; /* fa-caret-left */
}

.fa-e:before {
	font-family: "Montserrat", sans-serif; /* your font family here! */
	font-weight: bold;
	content: "E";
	color: rgb(243, 243, 243);
	background-color: rgb(27, 80, 82);
	padding: 5px 10px;
	border: 2px solid rgb(243, 243, 243);
	border-radius: 3px;
}

/* #content-wrapper .bg-dark {
	background-color: rgb(27, 80, 82) !important;
} */

@media (min-width: 768px) {
	.sidebar {
		width: 14rem !important;
	}

	.sidebar .nav-item .nav-link {
		width: 100%;
		text-align: left;
		padding: 1rem;
		width: 14rem;
	}

	.sidebar .sidebar-brand span {
		display: block;
	}

	div#sidebar-content-wrapper.sidebar-hidden .sidebar {
		margin-left: -104px;
	}
}

@media (min-width: 576px) {
	div#sidebar-content-wrapper.sidebar-hidden .sidebar {
		position: inherit;
		bottom: inherit;
		top: inherit;
		margin-left: -224px;
	}
}
